# Do not let upstream pulls overwrite this file

# Far Horizons

/Content.*/ @princess_gurchi
/Resources/ @CorruptOmega @princess_gurchi
/Resources/Maps/ @lightening-orb

# Reactor

/Content.*/_FarHorizons/Power/Generation/FissionGenerator/ @jhrushbe @princess_gurchi

# Vehicles

/Content.*/_FarHorizons/Vehicles/ @AthenaAI @princess_gurchi